*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
.app {
  text-align:center;
  display: flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  background-color:#5D707F;
  color:white;

}
.todo{
  display:flex;
  justify-content:space-between;
  align-items:stretch;
  width:500px;
  background-color:white; 
  margin: 20px 0;
  color:#5D707F;
  border-radius: 10px;
  /* overflow:auto; */
}
.todo-list{
  background-color:#8797b2; 
  padding:50px;
  border-radius: 20px;
}
input{
  display:flex;
  align-items:center;
  width:500px;
  background-color:white; 
  margin: 20px 0;
  padding:10px 10px;
  border:none;
  font-size:18px;
  margin:0 0;
  color:#5D707F;
  border-radius: 10px;

}
input:focus-visible{
  outline:none;
}

h3{
  font-size:18px;
  overflow:auto; 
  overflow-wrap:break-word;
  padding:10px 10px;
  text-align:left;
}
button{
  padding:10px 10px;
  font-size:18px;
  border-radius:0;
  border: 0;
  background-image:linear-gradient(to  right, #5d707f, #a7a5c6); 
  color:white;
}
button:last-child{
  border-radius:0 10px 10px 0;
}
.buttons{
  display:flex;
  flex-wrap: nowrap;
}
button:hover{
  background-image:linear-gradient(to bottom right, #5d707f, #a7a5c6);
}


